%html
  %head
    %title Apportable Photobooth
    %link{:rel => "stylesheet", :href => "css/style.css"}
  %body#container
    %header
      #header-wrapper
        %h1#title
          Welcome to
          %img#logo{:src => "images/logo.png", :style => "display:inline-block"}
    .page-content
      #hermes
        %img{ :src => "images/fairy.svg", :style => "width:490px;"}
      #form_info
        %h2{:style => "padding-bottom:40px"} Fill in your deets and mug for the camera!
        %form{:action => 'photo_booth', :method => 'POST'}
          %p.form_field
            Name:
            %input{:type => "text", :name => "name"}
          %p.form_field
            Twitter: @
            %input{:type => "text", :name => "twitter"}
          %input{:type => "hidden", :name => "title", :value=> "#PaperlessHQ"}
          %input#form_submit{:type => "submit", :value => "CONTINUE"}
