%html
  %head
    %title Paperless Photobooth
    %link{:rel => "stylesheet", :href => "css/style.css"}
  %body#container
    %header
      #header-wrapper
        %h1
          Welcome to
          %img{:src => "images/logo.png", :style => "display:inline-block"}
    .page-content
      #hermes
        %img{ :src => "images/hermes.png" :style => "width:490px"}
      #form_info
        %h2{:style => "padding-bottom:40px"} Take a photo for Hermes!
        %form{:action => 'photo_booth', :method => 'POST'}
          %p.form_field
            Name:
            %input{:type => "text", :name => "name"}
          %p.form_field
            Twitter:
            %input{:type => "text", :name => "twitter"}
          %input{:type => "hidden", :name => "title", :value=> "StampyDay"}
          %input#form_submit{:type => "submit", :value => "Submit"}
