%html
  %head
    %title Apportable Photobooth
    %link{:rel => "stylesheet", :href => "css/style.css"}
  %body#container
    %header
      #header-wrapper
        %h1#title Welcome to Apportable!
    .page-content
      #large-fairy
        %img{ :src => "images/fairy.svg", :style => "width:490px;"}
      #form_info
        %h2{:style => "padding-bottom:40px"} Fill in your deets and mug for the camera!
        %form{:action => 'photo_booth', :method => 'POST'}
          .form_field
            %h2 Name:
            %input{:type => "text", :name => "name"}
          .form_field
            %h2 Twitter: @
            %input{:type => "text", :name => "twitter"}
          %input{:type => "hidden", :name => "title", :value=> "#SpriteBuilderGDC"}
          %input#form_submit{:type => "submit", :value => "Say Cheese!"}
