%html
  %head
    %title Paperless Photobooth
    %link{:rel => "stylesheet", :href => "css/style.css"}
  %body#container
    .page-content
      .center.pic_controls
        %form{:action => '/save', :method => 'POST', :style=>'display: inline;'}
          %button#submit.button{:style => "font-size: 28px; display:none; border: none;", :type=>'submit'}Save Photo
          %input#img-data{:type => 'hidden', :name => 'base64'}
        %a#take_pic.button{:href => '#', :style => "font-size: 28px; display:none;"} Take Photo
        %span#countdown{:style => "font-size: 28px; display:none;"} 3
      #wrapper
        .borderRight{:style => 'display:block; width: 59px; height: 444px; position: absolute; z-index: 1000; background-color: #15637a;'}
        .borderLeft{:style => 'display:block; width: 59px; height: 444px; position: absolute; z-index: 1000; background-color: #15637a; left: 541px;'}
        %video{ :height => '444', :autoplay => true}
      %img#final{:src => "", :style => "padding: 15px 0 0 35; display:none;"}
      %canvas{ :width => '520', :height => '600', :style => "display:none;"}
      %img#logo{:src => 'images/pp-white.png', :style => "display:none;"}
      %img#poloroid{:src => 'images/poloroid.png', :style => "display:none;"}
      #title{:style => "display:none"}
        - if title
          = title
      %script{:src => "js/photo_booth.js"}
